@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.ttf");
  font-weight: medium;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.ttf");
  font-weight: Bold;
}
