$font-family: Poppins;

$color-primary: #8b2e2e;
$color-secondary: #b1b1b1;

$text-primary: rgba(0, 0, 0, 0.84);
$text-secondary: rgba(0, 0, 0, 0.54);

$box-shadow-1: 0px 2px 10px rgba(0, 0, 0, 0.2);
