@import "./global-variable";

.card {
  background-color: #fff;
  border-radius: 10px;
  //width: 100%;
  overflow: hidden;
  box-shadow: $box-shadow-1;
  margin-bottom: 16px;

  a {
    color: #000;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
  width: 290px;

  @media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
    margin-right: 20px;
  }
  // @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
  //   margin-right: 0;
  // }
}

.content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 0.8em;
    line-height: 1.3em;
    color: $text-primary;
    margin-bottom: 10px;
    //font-family: $font-family;
  }
  p {
    font-size: 0.6em;
    line-height: 1.6em;
    color: $text-secondary;
  }

  @media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
    height: 240px;
  }
}

.footer {
  margin-top: auto;
  .author,
  .moment {
    margin-bottom: 0;
    font-size: 0.7em;
  }
  .author {
    color: $text-primary;
  }
  .moment {
    color: $text-secondary;
  }
}
