@import "./global-variable";

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
    color: $text-secondary;
    font-size: small;
    span {
      font-weight: bold;
    }

    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
      text-align: left;
      margin-top: 15px;
      font-size: 0.9em;
    }
  }
}

.contentPrimaryWrapper {
  width: inherit;
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: center;

  @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
    align-items: center;
  }
}

.contentPrimary {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
  h3 {
    margin-bottom: 10px;
  }
  small {
    color: $text-secondary;
    margin-bottom: 1em;
  }
  @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
    text-align: left;
    margin-left: 20px;
    h3 {
      font-size: 2em;
    }
  }
}

.profilePicture {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: $box-shadow-1;
}

.social {
  margin: auto;
  display: flex;
  padding: 0;

  li {
    margin-right: 5px;
    list-style: none;
  }

  @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
    margin: 0;
  }
}

.socialButton {
  width: 27px;
  height: 27px;
  //background-color: #fce5e5;
  border: 1px solid #dbdbdb;
  color: #707070;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articleContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  @media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
    justify-content: flex-start;
  }
}
