@import "./global-variable";

.index {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  @media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
    justify-content: flex-start;
  }
  // @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
  //   justify-content: space-between;
  // }
}

// * {
//   font-family: $font-family;
// }
