.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  padding: 0 1.0875rem 1.45rem;
}

.footer {
  margin: auto;
  margin-bottom: 2em;
  max-width: 1024px;
  width: 100%;
  font-size: 0.8em;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}
